/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of the reset */



body {
    font-family: 'Roboto', sans-serif;
}

header, footer{
   background-color: #1F2937; 
   display: flex;
   justify-content: space-between;
   padding: 1.5vh 9vh;  
}

#logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;      
}

nav {
    display: flex;
    justify-self: space-between;
    gap: 20px;
    transition: all 0.2s;
}

.section1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4vh 9vh;
    gap: 30px;   
}

.section1Text {
    text-decoration: none;
    color: grey;  
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: white;
    width:25%;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    transition: all 0.2s;    
}

.section1Left {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pic1 {
    display: flex;
    height: 220px;
    width: 50%;  
    border: #1e2f23 solid 2px;
    box-shadow: 0px 0px 32px 9px #31572c;    
    background-color: black;
    justify-content: center;
}


h2 {
    color: #f9faf8;
    font-weight: bold;
    font-size: 48px;
}

.section2 {
    background-color: white;
    padding: 4vh 5vh;
}

h3 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.picInfo img {
    width: 10vh;
    height: 10vh;
    padding: 5px;
    border-radius: 20px;   
}

.picInfo {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 2vh 8vh;
}

.sec2Para {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    align-content: center;
    align-items: center;
    text-align: center;
    color: gray;
    font-size: 15px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 80px 200px; 
    gap: 0.5em;   
}

#lokiQuote {
    font-size: 25px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

#lokiSig {
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    padding-right: 1vh;
}

.section4 {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4vh 10vh;
    padding: 1vh;
    color: #e5e7eb;
    flex-basis: 30%;   
}

.sec4Left {
    display: flex;
    flex-direction: column;
    gap: .5vh;
}
h4 {
    font-weight: bold;
    font-size: 20px;
}

.section4 button {   
    border: #e5e7eb solid 2px;
    margin: 3vh;
    display: flex;
    width:fit-content;
    padding: 0.5vh 2vh;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    color: #f9faf8;
}
    
a:hover{
    color: whitesmoke;
    transform: translateY(-0.15em)
}

button:hover{
    background-color: #ffd60a;
    color: #1F2937;
    font-weight: bold;
}